@page "/accounts"

@using Domain.Models
@using Domain.Enums
@using System.Net.Http
@using Services
@inject HttpClient Http
@inject AccountService service
@inject BankService bankService

<h1>Accounts</h1>


<EditForm Model="@formEntity" OnValidSubmit="AddEntity">
    <ValidationSummary />

    <InputText id="Account Name" @bind-Value="formEntity.Name" />
    <select @bind="bankId">
        @foreach (var bank in banks)
        {
            <option value=@bank.Id>@bank.Name</option>
        }
    </select>
    <select @bind="formEntity.AccountType">
        @foreach (var accountType in Enum.GetValues(typeof(TransactionType)).Cast<TransactionType>())
        {
            <option value=@accountType>@accountType</option>
        }
    </select>
    <button type="submit">Submit</button>
</EditForm>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Account Name</th>
            <th>Bank Name</th>
            <th>Account Type</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entity in accounts)
        {
            <tr>
                <td>@entity.Id</td>
                <td>@entity.Name</td>
                <td>@entity.Bank.Name</td>
                <td>@entity.AccountType</td>
                <td>@entity.Balance</td>
                <button class="btn btn-primary" @onclick="@(e => DeleteEntity(entity.Id))">Remove</button>
            </tr>
        }
    </tbody>
</table>

@code {

    Account[] accounts;
    Bank[] banks;

    protected override async Task OnInitializedAsync()
    {
        UpdateAccounts();
        UpdateBanks();
    }

    long bankId = 0;
    Account formEntity = new Account();

    private async Task AddEntity()
    {
        await service.AddEntityAsync(formEntity);
    }

    private async Task DeleteEntity(long id)
    {
        await service.DeleteEntityAsync(id);
        UpdateAccounts();
    }

    async void UpdateBanks()
    {
        var res = await bankService.GetEntitiesAsync();
        banks = res.Entities.ToArray();
        StateHasChanged();
    }

    async void UpdateAccounts()
    {
        var res = await service.GetEntitiesAsync();
        accounts = res.Entities.ToArray();
        StateHasChanged();
    }
}
