@page "/accounts"

@using BankingCore.Services
@using Domain.Models
@using Domain.Enums
@inject AccountService service

<h1>Accounts</h1>

@if (service == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="@formEntity" OnValidSubmit="HandleValidSubmit">
        <ValidationSummary />

        <InputText id="Account Name" @bind-Value="formEntity.Name" />
        <select @bind="bankId">
            @foreach (var bank in service.GetBankList())
            {
                <option value=@bank.Id>@bank.Name</option>
            }
        </select>
        <select @bind="formEntity.AccountType">
            @foreach (var accountType in Enum.GetValues(typeof(TransactionType)).Cast<TransactionType>())
            {
                <option value=@accountType>@accountType</option>
            }
        </select>
        <button type="submit">Submit</button>
    </EditForm>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Account Name</th>
                <th>Bank Name</th>
                <th>Account Type</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entity in service.GetAll())
            {
                <tr>
                    <td>@entity.Id</td>
                    <td>@entity.Name</td>
                    <td>@entity.Bank.Name</td>
                    <td>@entity.AccountType</td>
                    <td>@entity.Balance</td>
                    <button class="btn btn-primary" @onclick="@(e => service.Remove(entity))">Remove</button>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    long bankId = 0;
    Account formEntity = new Account();

    void HandleValidSubmit()
    {
        var newAccount = service.Clone(formEntity);
        newAccount.Bank = service.GetBankById(bankId);
        service.Add(newAccount);
    }
}
